body {
    background: #050a30 ;
    color: #f4f6fc ;
    font-family: "Gill Sans", sans-serif;
    padding:0px;
    margin:0px;
}
h2 {
    font-size: 35px;
    text-align: center;
}
button {
    padding: 5px 5px;
    font-size: 16px;
    background-color: #37e454;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
}
button:hover {
    background-color: #3faf30;
}
.chambre {
    border:#c8930d solid 2px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}
img {
    width: 90%;
    border:#c8930d solid 2px;
}