<footer>
    <div class="footer-content">
        <div class="footer-contact">
            <p>Tel: <a href="tel:+33600000000">06 59 51 14 01</a></p>
            <p>Mail: <a href="mailto:contact@prendsmaphoto.fr">contactprendsmaphoto@gmail.com</a></p>
        </div>
        <div class="footer-copyright">
            <p>&copy; <span data-current-year></span> Prends ma photo - Tous droits réservés</p>
        </div>
        <div class="footer-legal">
            <a href="rgpd.html">Politique de confidentialité</a>
        </div>
    </div>
</footer> 