<header>
    <nav>
        <a href="index.html" class="logo-link animate fade-in-down">
            <img src="assets/img/logo.png" alt="Prends ma Photo" class="logo" fetchpriority="high">
        </a>
        <div class="menu-toggle animate fade-in">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="switcher animate fade-in">
            <div class="switcher-root">
                <a href="index.html#accueil"><button class="switcher-btn animate fade-in-down delay-0" type="button" data-scroll-to="accueil">Accueil</button></a>
                <a href="index.html#concept"><button class="switcher-btn animate fade-in-down delay-1" type="button" data-scroll-to="concept">Notre concept</button></a>
                <a href="index.html#nos-bornes"><button class="switcher-btn animate fade-in-down delay-2" type="button" data-scroll-to="nos-bornes" data-offset="150">Nos bornes</button></a>
                <a href="devis.html"><button class="switcher-btn animate fade-in-down delay-3" type="button" data-devis>Devis</button></a>
                <a href="contact.html"><button class="switcher-btn animate fade-in-down delay-4" type="button" data-contact>Contact</button></a>
                <div aria-hidden="true" class="switcher-glow"></div>
                <div aria-hidden="true" class="switcher-curr"></div>
            </div>
        </div>
        <ul class="mobile-menu">
            <li class="animate fade-in-right delay-0"><a href="index.html#accueil">Accueil</a></li>
            <li class="animate fade-in-right delay-1"><a href="index.html#concept">Notre concept</a></li>
            <li class="animate fade-in-right delay-2"><a href="index.html#nos-bornes">Nos bornes</a></li>
            <li class="animate fade-in-right delay-3"><a href="devis.html">Devis</a></li>
            <li class="animate fade-in-right delay-4"><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</header> 